  <h2>Please Register</h2>
    <div
      <form  method="post" action="/register"> 
        <div>
          <label for="username">Username:</label>   
          <input type="username"  placeholder="Username" name="username">
        </div>
        <div>
          
          <label for="password">Password:</label>
          <input type="password" name="password">
        </div>
        <input type="submit">
      </form>
    </div>
  
    <hr>

  <h3>Already have an account? <br/>
  <a href="/login" role="button">Login Here!</a>
