<h1>Add a game to your backlog:</h1>

<br />

<form method="POST" action="/games"> 
    <input type='text' placeholder="Game Title" name='title'>
    <input type='text' placeholder="Game Developer" name='developer'> 
    <button type="submit">Submit</button>
</form> 