

<div class="container">        
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Developer</th>
    </tr>
  </thead>
<tbody>
<tr>
    <td><%= @game.title %></td>&emsp;
    <td><%= @game.developer %></td>
</tr>


<% if logged_in? %> 
    <a href="/games/<%= @game.id %>/edit" button type="button" role="button">Edit Or Delete Your game</a>&emsp;
    <a href="/games/new" role="button" >Add Another Game</a>&emsp;
    <a href="/games" button type="button" role="button">Go To The Library</a>
<% end %>