<!DOCTYPE html>
<html lang="en">
<head>
  <title>Video Game Backlog</title>
  <link rel="stylesheet" href="/stylesheets/main.css" />
</head>
  <body>
  <center>
    <nav>
        <% if logged_in? %>
            <a href="/games/new" role="button" > Add A Game</a>&emsp;&emsp;
            <a href="/logout" role="button" >Log Out</a>
        <% else %>   
            <h2>Please register or log in</h2>
            <a href="/register" role="button" >Register</a>&emsp;&emsp;
            <a href="/login" role="button" >Log In</a>
        <%end %>
    </nav> 
    <br />
  </center>
  </body>
</html>