<!DOCTYPE html>
<html lang="en">
<head>
  <title>Video Game Backlog</title>
  <link rel="stylesheet" href="/stylesheets/main.css" /> 
</head>
 <body>
  <nav>
    <div class="taskbar">
          <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/register">Register</a></li>
          <li><a href="/login">Log In</a></li>
          <li><a href="/logout">Log Out</a></li>
          <li><a href="/games/new">Add A Game</a></li>
          <li><a href="/games">Library</a></li>
        </ul>
    </div>
  </nav>
    <center>
    <div class="layout"> 
      <h1>Video Game Backlog</h1><br />
        <% if logged_in? %>
        <h2>Welcome, <%=current_user.username %>!</h2>
      <% end %>
    </div>

    <div class="left-img"> 
      <a href="/games/new"><img src="/images/ghostimage.jpg">Add Ghost of Tsushima to your backlog</a> 
    </div> 
    <div class="right-img"> 
    <a href="/games/new"><img src="/images/tlouimage.jpg">Add The Last of Us Part 2 to your backlog</a> 
    </div>
      <div>
        <% if flash[:error] != "" %>
          <p> <%= flash[:error] %> </p>
        <% end %>
      </div>
      <div>
        <% if flash[:success] != "" %>
          <p> <%= flash[:success] %> </p>
        <% end %>
      </div>
    </center>
  <%= yield %>
 </body>

</html>